<ion-view view-title="MyTab">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">This is MY Tab</div>
      <div class="item item-body">
        <div>
          [{{name}}] everything is AOK
        </div>
      </div>
    </div>
      <div>
      <ion-list>
          <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="todoitem in todo" type="item-text-wrap" href="#/tab/my/{{todo.id}}">
              <h2><b>{{todoitem.id}}</b> : {{todoitem.task}}</h2>
          </ion-item>
      </ion-list>
      </div>
  </ion-content>

</ion-view>
